namespace: coursework

replicaCount: 1

image:
  repository: rdlsolutions/coursework-rd
  pullPolicy: IfNotPresent
  tag: "1.0.1"

containerPorts: 8080
nameOverride: coursework-rd
fullnameOverride: "coursework-rd-deployment"

environment:
  DB_HOST: "postgres-db-rw" 
  DB_PORT: 5432
  DB_USER: myuser
  DB_PASSWORD: mysecretpassword
  DB_NAME: mydatabase


securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080
  name: coursework-svc

ingress:
  enabled: true
  className: ""
  name: coursework-ingress
  hosts:
    - host: coursework.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              port:
                number: 80             
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: 
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80


